<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
        </h1>
        </section>
        <%= @user.profile %>
    </aside>
    <div class="col-md-8">
        <!-- このビューにアクセスしたときにログインしていたら「follow」「unfollow」ボタンを表示 -->
        <%= render 'follow_form' if logged_in? %>
        <br />
        
        <ul class="nav nav-tabs">
            <li class="active"><a href="<%= user_path %>">Microposts (<%= @user.microposts.count %>)</a></li>
            <li><a href="<%= following_user_path %>">Following (<%= @user.following_users.count %>)</a></li>
            <li><a href="<%= followers_user_path %>">Followers (<%= @user.follower_users.count %>)</a></li>
        </ul>

        <div class="tab-content">
            <!-- 投稿の一覧表示 -->
            <% if @user.microposts.any? %>
                <br />
                <ol class="microposts">
                    <%= render @microposts %>
                </ol>
            <% end %>
            <%= paginate @microposts %>
        </div
        <%# binding.pry %>
    </div>
</div>